
ul{
    display: flex;
    gap: 3rem;
    margin-left: 39%;
    font-size: 1.5rem;
}

#avatar img {
    height: 22rem;
    margin-left: 50rem;
    margin-top: -22rem;
}

#avatar {
    position: relative;
    display: inline-block;
    z-index: 1; /* Karartmanın altında olacak şekilde daha düşük bir değer */
}

#coop-cheat {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    z-index: 1; /* Karartmanın altında olacak şekilde daha düşük bir değer */
}

#avatar-text {
    position: absolute;
    width: 20rem;
    top: -35rem; 
    left: 40rem;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 10; 
}
#retour{
    margin-top:0;
    margin-left: -70rem;
}
#cheat {
    display: flex;
    gap:5rem;
    margin-left: 32rem;
}
#cheat p{
    font-size: 2rem;
    margin-top: 4rem;
    margin-left:-3rem;
}

footer{
    display: grid;
    justify-items: end;
margin-top: -8rem;}
#buttons-container {
    display: flex;
    flex-direction: column; /* Butonları alt alta yerleştirir */
    gap: 4rem; /* Butonlar arasındaki boşluğu belirler */
    position: absolute; /* Kesin konumlandırma */
    left: 25rem; /* Oyun karelerinin soluna taşır */
    
}

#coop-btn, #cheat-btn {
    width: 12rem; /* Buton genişliği */
    align-self: center; /* Ortalar */
}
#avatar-text li{
    font-size: 1rem;
    list-style: circle;
   margin-left: -90%;
   margin-top: 0.5rem;
}
#avatar-text ul{
    display: block;
}

#game-over-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 65%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Karartılmış bir arka plan */
    border-radius: 10px;
    display: none;
    flex-direction: column;
    justify-content: center; /* İçeriği dikeyde ortala */
    align-items: center; /* İçeriği yatayda ortala */
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Görüntü taşmasını engelle */
}

#game-over-overlay img {
    position: absolute; /* Görsel arka plana alınır */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Görseli kapsayacak şekilde ayarla */
    opacity: 0.5; /* Görseli transparan yap */
    z-index: 1; /* Yazının ve butonun arkasında kalmasını sağla */
}

#game-over-overlay h2 {
    position: relative; /* Görselin üzerinde görünmesi için */
    z-index: 2; /* Görselin üzerinde kalır */
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    top:20%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Yazıya gölge ekle */
}

#game-over-overlay button {
    position: relative; /* Görselin üzerinde görünmesi için */
    z-index: 2; /* Görselin üzerinde kalır */
    top:30%;
    border-radius: 5px;
    margin-top: 1rem;
}



#close{
    margin-left: 80%;

}