
#avatar {
    display: flex;
}
#avatar img {
    height: 12rem;
    position: fixed;
    left:80%;
    bottom:10%;
}
#overlay-begin {
    margin-top:-1%;
    padding-top: 10%;
    padding-bottom: 5rem;
}
#overlay-begin img{
    margin-top: -3%;
}
#overlay-begin p{
    padding-top:10rem ;
}
#overlay-begin button{
    margin-top:5rem ;
   
}
#backdrop{
    display:none;
  }

#savoir {
    margin-left: 60%;
}
#retour{
    margin-top:1%;
}
.overlay {
    display: none;
    position: fixed;
    top: calc(100% - 35rem);
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 50rem;
    background-color: white;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    z-index: 100;
    color: black;
    font-size: 1rem;
    text-align: center;
    font-size: 2rem;
}
#indice-overlay h2 {
    font-size: 1rem;
    margin: 0.5rem 0;
}
#indice-overlay{
    display: none;
    position: fixed;
    top: calc(100% - 40rem);
    left: 75%;
    transform: translateX(-50%);
    width: 70%;
    max-width: 30rem;
    background-color: white;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    z-index: 100;
    color: black;
    font-size: 1rem;
    text-align: center;
}
#close{
    margin-left: 80%;
}
.formule h4 {
    font-size: 1rem;
    margin: 0.5rem 0;
}
.formula {
    font-size: 1rem;
    margin: 0.5rem 0;
}
.case-formula {
    font-size: 1rem;
    margin: 0.5rem 0;
}
#scenario-overlay {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 90%;
    max-width: 30rem;
    background-color: white;
    padding: 3rem;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    z-index: 100;
    color: black;
}
#jeux p {
    font-size: 2rem;
    text-align: center;
}
#contenu {
    width: 70%;
    margin-left: 10%;
}
.gameboard button {
    padding: 3rem;
    margin-top: 2%;
    background-color: rgb(208, 168, 168);
    color:black;
}
#player-gameboard button:hover {
    background-color: rgb(172, 138, 138);

    cursor: pointer;
    box-shadow: 0 4px 16px rgba(99, 81, 81, 0.26);
}
#player-gameboard {
    margin-bottom: -5%;
    margin-left: 23%;
}
.gameboard {
    margin-left: 15%;
    padding-bottom: 5rem;
    padding-top: 2rem;
    display: flex;
    gap: 1rem;
}
.gameboard p {
    margin-left: 2%;
    background-color:rgb(208, 168, 168);
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.5rem;
    
}
#jeux h2 {
    margin-left: 45%;
    margin-bottom: -2%;
}
#jeux{
    padding-bottom: 3rem;
}
form {
    margin-top: 1rem;
    text-align: center;
}
form label {
    margin-right: 0.5rem;
}
form input {
    margin-right: 0.5rem;
    padding: 0.5rem;
}


#egalite-feedback, #win-feedback {
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
}
#tryagain4-btn {
    display: none;
}
#tryagain3-btn {
    display: none;
}
#othertheories4-btn {
    display: none;
}
#othertheories3-btn {
    display: none;
}

#ai-gameboard button:hover{
    background-color: rgb(208, 168, 168);

}

.btns{
    display: flex;
    gap:3rem;
}
.button-container{
    display: flex;
    gap:20%;
    left:40%;

}