#avatar img{
    height: 15rem;
    margin-left: 100%;
    margin-top: -15rem;
}

#avatar {
    position: relative;
    display: inline-block;
}
#avatar-text {
    position: absolute;
    width: 20rem;
    top:-27rem;  /* Resmin üstünde bir mesafe bırak */
    left: 12rem;
    background-color: rgba(255, 255, 255, 0.8);  /* Yarı saydam bir arka plan */
    padding: 10px;
    border-radius: 5px;
    z-index: 10;  /* Resmin üstünde görünmesini sağlamak için */
    margin-left: 100%;
}


#info-question{
    font-size: 1.5rem;
    text-align: center;
}


.dropdown-container {
    display: grid;
    list-style: none;
    margin: 1rem 0;
    padding:0;
    grid-template-columns: repeat(2, 6rem) ;
    grid-template-rows: repeat(2, 6rem) ;
    justify-content:center;
    
    
}

.dropdown {
    position: relative;
    display: flex;
    gap: 2rem;
    
}

.dropdown-btn {
    width:10rem;
    border-radius: 0;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:  rgb(240, 226, 226);
    z-index: 1;
    margin-top: 3rem;
}

.dropdown-content button {
    display: block;
    border-radius: 0;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown p{
    font-size: 1.5rem;
    margin-left: -5rem;
    
  }
 



