
#backdrop{
  display:none;
}
#retour{
  margin-top:1%;
}
  #highlight{
    display: grid;
    list-style: none;
    margin: 1rem 0;
    padding:0;
    grid-template-columns: repeat(3, 20rem) ;
    grid-template-rows: repeat(3, 15rem) ;
    justify-content:center;
    gap:2rem;
    font-size: 3rem;
  }
  #jeuxSim{
    display: grid;
    list-style: none;
    margin: 1rem 0;
    padding:0;
    grid-template-columns: repeat(2, 40rem) ;
    grid-template-rows: repeat(2, 10rem) ;
    justify-content:center;
    gap:2rem;
    font-size: 3rem;
    
  }
  #jeuxSim a{
    background: radial-gradient(circle,#06808be6 ,#0997a4e6 );
    padding-top: 2rem;
    padding-left:1rem;
    padding-right:1rem;
    border-radius: 1rem;
  }
  #jeuxSim a:hover{
    background: radial-gradient(circle,#06808be6 ,#0997a4e6 );
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

    
  }
  #highlight a{
    background: radial-gradient(circle,#06808be6 ,#0997a4e6 );
    padding-top: 2.5rem;
    padding-left:2rem;
    border-radius: 1rem;
  }
  #savoir{
    margin-left: 60%;
  }
   .royaum a {
    font-size: 3rem;
    padding: 2rem 2rem 2rem 2rem;
   background: radial-gradient(circle,#06808be6 ,#0997a4e6 );
   border-radius: 1rem;
   }
   .royaum{
    display: flex;
    justify-content: center;
    gap: 20%;
    margin: 5% 0; 
   }
   .royaum a:hover{
    background: radial-gradient(circle,#06808be6 ,#0997a4e6 );
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

   }
   #carousel button {
    position: absolute;
    top: 52%;
    z-index: 500;
    transform: translateY(-80%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
   #text{
    margin-left: 15%;
    margin-right:15%;
    font-size: larger;

   }
   #text li{
    list-style-type: circle;
   }
   .carousel-container {
    width: 40rem;
    height: 30rem;
    overflow: hidden;
    position: relative;
    margin-left: 29rem;
   padding-bottom:2rem;
   padding-top: 2rem;
  }
 #thDeJeux{
  margin-top:12%;
  display: flex;
 }
  .carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
   
  }
 
  .carousel-slide img {
    width: 40rem;
    height:30rem;
    border-radius:5rem ;
   
   
  }
 

 
  #prevBtn {
    left: 2rem;
  }
 
  #nextBtn {
    right: 2rem;
  }
  


ul{
  list-style:circle;
}
ol{
  list-style: decimal;
}
#highlight-royaum{
  font-size: large;
  margin-left: 4rem;
  margin-right: 4rem;
}
#back{
  font-size: 3rem;
  margin: 2rem 0 0 2rem;
}
